<h3>User Information</h3>

<div class="row">
    <div class="col-md-2 margin-1">
        
            <img class="thumbnail" style="width:200px"  src="{{profile.picture}}">
        
     </div>
    <div class="col-md-10 margin-1">
    
        <ul class="list-group">
            <li class="list-group-item"><strong>Nick:</strong> {{profile.nickname}}</li>
            <li class="list-group-item"><strong>Email:</strong> {{profile.name}}</li>
             <li class="list-group-item"><strong>Profile Created:</strong> {{profile.created_at | date: 'dd-MM-yyyy'}}</li>    
            <li class="list-group-item"><strong>Profile Last Updated:</strong> {{profile.updated_at | date: 'dd-MMyyyy'}}</li>    
        </ul>
    </div>
</div>